{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "devtiming": {
      "plugins": [
      ],
    },
    "dev": {
      "plugins": [
        "react-hot-loader/babel",
      ],
    },
    "production": {
      "plugins": [
          ["strip-function-call", {"strip": ["timerStart", "timerEnd"]}]
        ],
      }
  }
}
