{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "node": "18"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "env": {
    "devtiming": {
      "plugins": [
      ]
    },
    "dev": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        ["strip-function-call", {"strip": ["timerStart", "timerEnd"]}]
      ]
    }
  }
}
