### App specific ###
/dist/
/data/
/deploy/
/releases/
server.dist.js
/static/
s3/
/scratch/

### OSX ###
.DS_Store

### npm ###
node_modules/
npm-debug.log
proddata

### development ###
**/tmp*/
**/_claude*/
tests/_output*/

