### App specific ###
/dist/
/data/
/deploy/
/_deploy/
/releases/
server.dist.js
/static/
s3/
/scratch/
server.log

### OSX ###
.DS_Store

### npm ###
node_modules/
npm-debug.log
proddata

### python ###
**/__pycache__/

### development ###
**/_*/
**/_claude*/
**/_test*/
**/_backup*/
